html {
    width: 90%;
    height: 100%;
    background: url("../_images/fundoR.jpg") no-repeat;
}
.botaoSair{
    float: right;
}
.boxTabelaUva {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 90%;
    height: 25%;
    padding: 25px 25px;
    margin: 0px auto;
    text-align: center;
    border-radius: 20px;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.904);
}
.tabelaClima {
    top: 20%;
    left: 70%;
    transform: translate(-40%, -40%);
    position: absolute;
    width: 36%;
    height: 20%;
    padding: 0% 1%;
    margin: 0px auto;
    border-radius: 20px;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.904);
}
.boxAvisos{
    top: 22%;
    left: 35%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 35%;
    height: 24%;
    padding: 0% 0%;
    border-radius: 20px;
    margin: 0px auto;
    text-align: center;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.904);
}
.boxBemVindo{
    top : 10%;
    left: 8%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 8%;
    height: 11%;
    padding: 0% 0%;
    border-radius: 20px;
    margin: 0px auto;
    text-align: center;

    border: 1px solid;
    border-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.904);
}
.boxBemVindo h2{
    font-size: 12px;
}
.boxAvisos h2{
    font-size: 22px;
}
.boxTabelaUva h2{
    color: black;
}
.TabelaClima h2{
    color : blueviolet;
}

