html {
    width: 90%;
    height: 100%;
    background: url("../_images/background.jpg") no-repeat;
}

.register-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 450px;
    height: 350px;
    padding: 25px 25px;
    margin: 0px auto;
    border-radius: 20px;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.904);
}
